@import "../../colors.scss";

.label {
    background-color: $white;
    color: black;
    border: 2px solid $black;
    padding: 0.5rem;
    box-shadow: 2px 3px $red;
    cursor: pointer;
    margin-top:1rem;
    margin-top: auto;
    margin-right: auto;
}

.product-card {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;
    position: relative;
    border: 2px solid $black;
    overflow: hidden;
    margin: 1rem 0;
    min-height: 25rem;
    width: auto;
    max-width: 15rem;

    .product-info {
        padding: 1.5rem;
    }

    img {
        height: 10rem;
        width: 100%;
        align-self: flex-start;
        z-index: 1;
        object-fit: contain;
    }
}