.product-card {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: black 2px;
    padding: 3rem 3rem;
    margin: 1rem 0;
    img {
        max-width: 250px;
        height: 100%;
    }
}